In [1]:
##CREATING LISTS

In [2]:
emptyList = []

lst1 = [1, 2, 3]
lst2 = ["Prachi", "Vinod", "Sarda"]
lst3 = [[1, 2], [3, 4]]
lst4 = [1, 10.2, "Hello", [3, 5, 7]]

print(lst4)

[1, 10.2, 'Hello', [3, 5, 7]]

In [3]:
##LIST LENGTH

print(len(lst2))

3

In [4]:
##LIST APPEND

lst = ["One", "Two", "Three", "Four"]
lst.append("Five")

print(lst)

['One', 'Two', 'Three', 'Four', 'Five']

In [10]:
##LIST INSERT

lst = ["One", "Two", "Four"]
lst.insert(2, "Three")

print(lst)

['One', 'Two', 'Three', 'Four']

In [11]:
##LIST REMOVE

lst = ["One", "Two", "Three", "Four", "Two"]
lst.remove("Two")

print(lst)

['One', 'Three', 'Four', 'Two']

In [12]:
##LIST APPEND AND EXTEND

In [13]:
lst = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

#append 
lst.append(lst2)

print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [15]:
lst = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

#extend will join the list with list1
lst.extend(lst2)

print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

In [17]:
## LIST DELETE AND POP

lst = lst = ['one', 'two', 'three', 'four', 'five']

del lst[1]
print(lst)

a = lst.pop(1)
print(a)
print(lst)

['one', 'three', 'four', 'five']
three
['one', 'four', 'five']

In [18]:
## LIST RELATED KEYWORDS

lst = ['one', 'two', 'three', 'four', 'five']
if 'two' in lst:
    print('AI')
if 'six' not in lst:
    print('ML')

AI
ML

In [19]:
##LIST REVERSE

lst.reverse()
print(lst)

['five', 'four', 'three', 'two', 'one']

In [20]:
##LIST SORTING

In [22]:
lst = [3, 1, 2, 6, 8]

sorted_lst = sorted(lst)
print("Sorted List: " ,sorted_lst)
print("Original List: " ,lst)

Sorted List:  [1, 2, 3, 6, 8]
Original List:  [3, 1, 2, 6, 8]

In [23]:
lst = [3, 1, 2, 6, 8]

reverse_sorted_lst = sorted(lst, reverse=True)
print("Sorted List: " ,reverse_sorted_lst)
print("Original List: " ,lst)

Sorted List:  [8, 6, 3, 2, 1]
Original List:  [3, 1, 2, 6, 8]

In [25]:
lst = [3.2, 1, 2.4, 6.9, 8]

lst.sort()
print(lst)

[1, 2.4, 3.2, 6.9, 8]

In [26]:
##MULTIPLE REFERENCES TO THE SAME LIST

lst = [1, 2, 3, 4]
abc = lst

abc.append(5)
print(lst)

[1, 2, 3, 4, 5]

In [27]:
##STRING SPLIT TO CREATE A LIST

In [28]:
s = "one,two,three,four,five"
slst = s.split(',')
print(slst)

['one', 'two', 'three', 'four', 'five']

In [29]:
s = "This is applied AI Course"
split_lst = s.split() # default split is white-character: space or tab
print(split_lst)

['This', 'is', 'applied', 'AI', 'Course']

In [31]:
##LIST INDEXING

lst = [3, 1, 2, 6, 8]
print(lst[0])
print(lst[2])
print(lst[-1])
print(lst[-4])

3
2
8
1

In [32]:
##LIST SLICING

In [33]:
numbers = [10, 20, 30, 40, 50,60,70,80]

print(numbers[:]) 

print(numbers[0:4])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

In [34]:
print(numbers)
print(numbers[::2])
print(numbers[2::2])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 30, 50, 70]
[30, 50, 70]

In [35]:
##LIST EXTEND USING +
lst1 = [1, 2, 3, 4]
lst2 = ['varma', 'naveen', 'murali', 'brahma']
new_lst = lst1 + lst2

print(new_lst)

[1, 2, 3, 4, 'varma', 'naveen', 'murali', 'brahma']

In [36]:
##LIST COUNT
numbers = [1, 2, 3, 1, 3, 4, 2, 5]
print(numbers.count(1))
print(numbers.count(5))

2
1

In [37]:
##LIST COMPREHENSIONS

squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
lst = [-10, -20, 10, 20, 50]

#create a new list with values doubled
new_lst = [i*2 for i in lst]
print(new_lst)

#filter the list to exclude negative numbers
new_lst = [i for i in lst if i >= 0]
print(new_lst)


#create a list of tuples like (number, square_of_number)
new_lst = [(i, i**2) for i in range(10)]
print(new_lst)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [39]:
##TRANSPOSE OF A MATRIX

matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

transpose = []
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transpose.append(lst)

print(transpose)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [40]:
#with list comprehension
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]