In [1]:
#empty tuple
t = ()

#tuple having integers
t = (1, 2, 3)
print(t)

#tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuple
t = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [5]:
#only parenthesis is not enough
t = (1)
print(type(t))

<class 'int'>

In [3]:
#comma is required

t = ('satish',)
print(type(t))

<class 'tuple'>

In [4]:
#parenthesis is optional
t = 'satish',
print(type(t))

<class 'tuple'>

In [7]:
##INDEXING IN TUPLE

t = ("Prachi", "Sambhav", "Ekta", "Pushpal", "Rajjo")
print(t[1])
print(t[-3])

#nested tuple
t = ('ABC', ('satish', 'naveen', 'srinu'))

print(t[1])
print(t[1][2])

Sambhav
Ekta
('satish', 'naveen', 'srinu')
srinu

In [8]:
## SLICING

t = (1, 2, 3, 4, 5, 6)

print(t[1:4])

print(t[:-2])

print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

In [10]:
##CHANGING AN ELEMENT OF A MUTABLE DATATYPE IN A TUPLE

t = (1, 2, 3, 4, [5, 6, 7])

t[4][1] = "hELLO World"
print(t)

(1, 2, 3, 4, [5, 'hELLO World', 7])

In [11]:
##CONCATENATING TUPLES

t = (1, 2, 3) + (4, 5, 6)
print(t)

(1, 2, 3, 4, 5, 6)

In [12]:
#repeat the elements in a tuple for a given number of times using the * operator.
t = (('Prachi', "Sarda" ) * 4)
print(t)

('Prachi', 'Sarda', 'Prachi', 'Sarda', 'Prachi', 'Sarda', 'Prachi', 'Sarda')

In [13]:
del(t)

In [14]:
##COUNT

t = (1, 2, 3, 1, 3, 3, 4, 1)

#get the frequency of particular element appears in a tuple
t.count(1)

3

In [15]:
##INDEX
t = (1, 2, 3, 1, 3, 3, 4, 1)
print(t.index(3))

2

In [17]:
##LENGTH
t = (3, 5, 6, 2, 4, 1)
print(len(t))

6

In [19]:
##SORTED
sorted_t = sorted(t)
print(sorted_t)

[1, 2, 3, 4, 5, 6]

In [21]:
##MAXIMUM AND MINIMUM ELEMENT IN TUPLE
print(max(t))
print(min(t))

##SUM OF ALL ELEMENTS OF A TUPLE
print(sum(t))

6
1
21