In [ ]:
##KEYWORDS AND IDENTIFIERS

In [2]:
import keyword
print(keyword.kwlist)
print("\nTotal number of keywords are: ", + len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Total number of keywords are:  35

In [3]:
abc = 1
a_12_bXZ = 34
# _ab = 7 (wrong syntax, indentifiers can't begin with underscore or digit)

In [ ]:
##IDENTATION

In [5]:
for i in range(10):
    print(i)
print(100)

0
1
2
3
4
5
6
7
8
9
100

In [ ]:
##MULTILINE STATEMENT

In [7]:
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8
print(a)

b = (1 + 2 + 3 +
    4 + 5 + 6 + 
    7 + 8)
print(b)

36
36

In [ ]:
##VARIABLE ASSIGNMENTS

In [11]:
a = 10
b = 5.5
c = "ML"

In [9]:
a, b, c = 10, 5.5, "ML"

In [8]:
A = B = C = "AI"

In [ ]:
##STORAGE LOCATIONS

In [12]:
x = 3

print(id(x))

1931663568

In [13]:
y = 3

print(id(y))

1931663568

In [14]:
y = 2

print(id(y))

1931663552

In [15]:
##DATATYPES IN PYTHON

In [16]:
# NUMBERS

In [17]:
a = 5                               #data type is implicitly set to integer
print(a, " is of type", type(a))

5  is of type <class 'int'>

In [18]:
a = 2.5
print(a, "is of type ", type(a))

2.5 is of type  <class 'float'>

In [19]:
a = 1 + 2j                          #data type is changed to complex number
print(a, " is complex number?") 
print(isinstance(1+2j, complex))
print(a, "is of type ", type(a))

(1+2j)  is complex number?
True
(1+2j) is of type  <class 'complex'>

In [20]:
# BOOLEAN

In [21]:
a = True
print(type(a))

<class 'bool'>

In [22]:
# STRINGS

In [27]:
s = "This is Online AI course"
print(s)
print(type(s))
print("\n")

s = 'This is Online AI course'
print(s)
print("\n")

s = """This is Online AI 
       course"""
print(s)
print("\n")

s = '''This is Online 
       AI course'''
print(s)
print(type(s)) 
print("\n")

This is Online AI course
<class 'str'>


This is Online AI course


This is Online AI
       course


This is Online
       AI course
<class 'str'>

In [29]:
print(s[0])

#last char 
print(s[len(s)-1])
print(s[-1])

T
e
e

In [31]:
s[5:]

'is Online \n       AI course'

In [32]:
s[5:10]

'is On'

In [33]:
# lISTS

In [34]:
a = [10, 20.5, "Hello"]
print(a[1])

20.5

In [36]:
a[1] = 87326357324
print(a)

[10, 87326357324, 'Hello']

In [37]:
# TUPLE

In [38]:
t = (1, 1.5, "ML")

In [39]:
print(t[1])

1.5

In [40]:
t[1] = 12

TypeError: 'tuple' object does not support item assignment

In [41]:
# SET

In [42]:
a = {10, 30, 20, 40, 5}
print(a)

{5, 40, 10, 20, 30}

In [43]:
print(type(a))

<class 'set'>

In [47]:
s = {10, 20, 20, 30, 30, 30}  #it would automatically remove duplicates
print(s)

{10, 20, 30}

In [46]:
print(s[1])  #we can't print particular element in set because 
            #it's unorder collections of items

TypeError: 'set' object does not support indexing

In [48]:
# DICTIONARY

In [50]:
d = {'a': "apple", 'b': "bat"}
print(d['a'])

apple

In [51]:
## CONVERSION BETWEEN DATATYPES

In [52]:
float(5)     #convert interger to float using float() method

5.0

In [53]:
int(100.5)   #convert float to integer using int() method

100

In [54]:
str(20)      #convert integer to string

'20'

In [55]:
user = "satish"
lines = 100

print("Congratulations, " + user + "! You just wrote " + str(lines) + " lines of code" )
#remove str and gives error

Congratulations, satish! You just wrote 100 lines of code

In [56]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [57]:
a = [1, 2, 3]

print(type(a))      #type of a is list 

s = set(a)          #convert list to set using set() method

print(type(s))      #now type of s is set

<class 'list'>
<class 'set'>

In [58]:
list("Hello")       #convert String to list using list() method

['H', 'e', 'l', 'l', 'o']